.ResourceLine {
  display: flex;
  border: 3px solid black;
  padding: 5px 10px;
  font-weight: bold;
  align-items: center;
  background: linear-gradient(to right, #00416a, #24243e, #00416a, #24243e);
}
.ResourceLine .type {
  flex: 3;
}

.ResourceLine .iconContainer {
  flex: 2;
}

.ResourceLine .icon {
  width: 26px;
  height: 26px;
}

.ResourceLine .amount {
  flex: 1;
}
