.ResourceLine {
  display: flex;
  border: 3px solid black;
  padding: 10px;
  font-weight: bold;

  background: linear-gradient(to right, #00416a, #24243e, #00416a, #24243e);
}
.ResourceLine .type {
  flex: 2;
}

.ResourceLine .icon {
  flex: 2;
}

.ResourceLine .amount {
  flex: 1;
}
