.AddImprovementDialog {
  width: fit-content;
  height: fit-content;
  background-color: aqua;
  position: absolute;
  color: black;
  font-weight: bold;
  padding: 10px;
  border: 3px solid #00416a;
}
