.AddImprovementDialog {
  background-color: aqua;
  background-image: linear-gradient(to right, #6dd5fa, #ff758c);
  position: absolute;
  color: #00416a;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border: none;
  z-index: 10;
}

.AddImprovementDialog button {
  background-color: #00416a;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.AddImprovementDialog button:hover {
  background-color: #0066cc;
}

.AddImprovementDialog select {
  padding: 5px;
  border-radius: 15px;
  margin: 10px 0;
}

.AddImprovementDialog label {
  display: block;
}

@media only screen and (min-width: 768px) {
  .AddImprovementDialog {
    width: 400px;
    height: fit-content;
    font-size: 25px;
  }

  .AddImprovementDialog button {
    font-size: 20px;
  }

  .AddImprovementDialog select {
    padding: 10px 10px;
    border-radius: 15px;
    margin: 10px 0;
    font-size: 20px;
  }
}
