.Tile {
  width: 65px;
  height: 65px;
  background-image: url(../../assets/moon-small.png);
  background-size: cover;
  border: 1px solid black;
  color: black;
}

.Tile .improvementIcon {
  height: 50px;
  width: 50px;
}
