.Tile {
  width: 65px;
  height: 65px;
  background-image: url(../../assets/moon-small.png);
  background-size: cover;
  border: 1px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tile .improvementIcon {
  height: 45px;
  width: 45px;
}
