.Tile {
  width: 65px;
  height: 65px;
  background-image: url(../../assets/moon-small.png);
  background-size: cover;
  border: 1px solid transparent;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* z-index: -5; */
}

.Tile .improvementIcon {
  height: 45px;
  width: 45px;
}

.Tile .levelDisplay {
  position: absolute;
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0;
}

@media only screen and (min-width: 768px) {
  .Tile {
    width: 135px;
    height: 135px;
  }

  .Tile .improvementIcon {
    height: 80px;
    width: 80px;
  }

  .Tile .levelDisplay {
    height: 40px;
    width: 40px;
    font-size: 30px;
  }
}
