.App main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .App main {
    flex-direction: row;
  }
}
