.App main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .msgIcon {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  z-index: 11;

  position: relative;
  -webkit-animation: floatBubble 10s infinite normal ease-out;
  animation: floatBubble 8s infinite normal ease-in-out;
}
@-webkit-keyframes floatBubble {
  0% {
    top: 350px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 350px;
  }
}
@keyframes floatBubble {
  0% {
    top: 350px;
  }
  50% {
    top: -120px;
  }
  100% {
    top: 350px;
  }
}

.App .errorContainer {
  position: fixed;
  width: 300px;
  top: 41.5%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.App .resourceErrMsg {
  background: linear-gradient(to right, red, orange, yellow);
  color: black;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.App .cancelBtn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: -8px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .App main {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
  }

  .App .errorContainer {
    width: 550px;
    height: 50px;
    z-index: 10;
  }

  .App .resourceErrMsg {
    background: linear-gradient(to right, red, orange, yellow);
    color: black;
    font-weight: bold;
    padding: 20px 20px;
    border-radius: 5px;
    position: relative;
    /* width: 500px; */

    text-align: center;
    font-size: 20px;
    box-shadow: 0 0 3px 1px black;
    /* transform: translateY(265px); */
  }

  .App .cancelBtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: -14px;
    right: -55px;
    cursor: pointer;
  }

  .App .msgIcon {
    z-index: 20;
    width: 80px;
    height: 80px;
  }
}
