/* resets and global styles*/

body,
h1,
h2,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: ivory;
  background-image: url("/src/assets/stars-background.png");
  background-size: cover;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 40px;
  font-family: "Orbitron", sans-serif;
  background: -webkit-linear-gradient(rgb(117, 157, 243), rgb(1, 21, 48));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 100px;
  }
}
