.ResourcesView {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

@media only screen and (min-width: 768px) {
  .ResourcesView {
    height: 685px;
    justify-content: space-around;
    margin-left: 70px;
    width: 20vw;
  }
}
